## Trabajo Financial Econometrics.

Creare la bbdd nomas

In [2]:
## Library
import yfinance as  yf
import pandas as pd
import numpy as np

In [4]:
## Cencosud
cenconsud=yf.Ticker("CENCOSUD.SN")
hist = cenconsud.history(period="max")
retornos=pd.DataFrame({'cencosud_log_rt':hist.Close.transform(lambda x: np.log(x/x.shift(1)))}).dropna()
retornos_mensuales=retornos.reset_index().groupby(pd.Grouper(key='Date',freq = 'BM')).sum()

In [22]:
## Macro desde el BC
TC=pd.read_excel('MACRO/Cuadro_10072022171509.xlsx',header=2)
IMACEC=pd.read_excel('MACRO/Cuadro_10072022171541.xlsx',header=2)
BCP_10=pd.read_excel('MACRO/Cuadro_10072022171616.xlsx',header=2)
IPC=pd.read_excel('MACRO/Cuadro_10072022171644.xlsx',header=2)

In [48]:
## Generamos el index
TC['Date']=[f'{x.year}/{x.month}' for x in TC['Periodo']]
IMACEC['Date']=[f'{x.year}/{x.month}' for x in IMACEC['Periodo']]
BCP_10['Date']=[f'{x.year}/{x.month}' for x in BCP_10['Periodo']]
IPC['Date']=[f'{x.year}/{x.month}' for x in IPC['Periodo']]
retornos_mensuales['Date']=[f'{x.year}/{x.month}' for x in retornos_mensuales.reset_index()['Date']]

In [52]:
IPC.columns

Index(['Periodo', '1.IPC General ', 'Date'], dtype='object')

In [53]:
TC['TC']=TC['1.Tipo  de  cambio  nominal (dólar observado $/USD)        '].copy()
IMACEC['IMACEC']=IMACEC['1.Imacec empalmado, desestacionalizado (índice 2018=100)'].copy()
BCP_10['BCP_10']=BCP_10['1.Tasas BCP 10 años'].copy()
IPC['IPC']=IPC['1.IPC General '].copy()

In [60]:
retornos_mensuales.Date

Date
2000-01-31    2000/1
2000-02-29    2000/2
2000-03-31    2000/3
2000-04-28    2000/4
2000-05-31    2000/5
               ...
2022-03-31    2022/3
2022-04-29    2022/4
2022-05-31    2022/5
2022-06-30    2022/6
2022-07-29    2022/7
Freq: BM, Name: Date, Length: 271, dtype: object

In [73]:
## Nos quedaremos con el que tenga la minima fecha.
df=pd.DataFrame(IPC.set_index('Date').IPC).merge(IMACEC.set_index('Date').IMACEC,how='inner',left_index=True, right_index=True)\
.merge(TC.set_index('Date').TC,how='inner',left_index=True, right_index=True)\
.merge(BCP_10.set_index('Date').BCP_10,how='inner',left_index=True, right_index=True)\
.merge(retornos_mensuales.set_index('Date').cencosud_log_rt,how='inner',left_index=True, right_index=True)

In [74]:
df.tail()

        IPC      IMACEC          TC    BCP_10  cencosud_log_rt
Date
2022/1  1.2  108.796425  822.050000  5.886167         0.034418
2022/2  0.3  108.256512  807.068000  5.818815        -0.003328
2022/3  1.9  109.820296  799.187391  6.103209         0.052993
2022/4  1.4  109.471282  815.123000  6.531166        -0.040148
2022/5  1.2  109.400399  849.390000  6.617833        -0.033220